<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page_description | default: shop.description }}">
    <meta name="keywords" content="fashion, male fashion, clothing, accessories">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; {{ current_tags | join: ', ' }}{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    >

    <!-- Css Styles -->
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
    {{ 'elegant-icons.css' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {{ 'nice-select.css' | asset_url | stylesheet_tag }}
    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
    {{ 'slicknav.min.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        <div class="offcanvas__links">
          {% if customer %}
            <a href="/account">My Account</a>
            <a href="/account/logout">Logout</a>
          {% else %}
            <a href="/account/login">Sign in</a>
            <a href="/account/register">Register</a>
          {% endif %}
        </div>
        <div class="offcanvas__top__hover">
          <span>
            {{- cart.currency.iso_code }}
            <i class="arrow_carrot-down"></i
          ></span>
        </div>
      </div>
      <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="{{ 'img/icon/search.png' | asset_url }}" alt=""></a>
        <a href="/account/login"><img src="{{ 'img/icon/heart.png' | asset_url }}" alt=""></a>
        <a href="/cart"
          ><img src="{{ 'img/icon/cart.png' | asset_url }}" alt=""> <span>{{ cart.item_count }}</span></a
        >
        <div class="price">{{ cart.total_price | money }}</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    {% section 'malefashion-header' %}
    <!-- Header Section End -->

    <!-- Main Content -->
    <main role="main">
      {{ content_for_layout }}
    </main>

    <!-- Footer Section Begin -->
    {% section 'malefashion-footer' %}
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" action="/search" method="get">
          <input type="text" name="q" id="search-input" placeholder="Search here.....">
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{{ 'jquery-3.3.1.min.js' | asset_url }}"></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.nice-select.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.nicescroll.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.countdown.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.slicknav.js' | asset_url }}"></script>
    <script src="{{ 'mixitup.min.js' | asset_url }}"></script>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>
    <script src="{{ 'main.js' | asset_url }}"></script>
  </body>
</html>
